<div class="row">

      <div class="column">
        <div class="card">
          <img src="assets/images/trending.jpg"/>
          <h2>Trending</h2>
        </div>
      </div>
      <div class="column" >
        <div class="card">
          <img src="assets/images/music.jpg"/>
           <h2>Music</h2>
        </div>
      </div>
      <div class="column" >
        <div class="card">
          <img src="assets/images/video.png"/>
          <h2>Movies</h2>
        </div>
      </div>
      
      <div class="column" >
        <div class="card">
          <img src="assets/images/live.jpg"/>
          <h2>Live</h2>
        </div>
      </div>
      <div class="column " >
          <div class="card">
            <img src="assets/images/cp.jpg"/>
            <h2>Gaming</h2>
          </div>
        </div> 
         <div class="column" >
          <div class="card">
            <img src="assets/images/news.jpg"/>
            <h2>News</h2>
          </div>
        </div>
        <div class="column" >
          <div class="card">
            <img src="assets/images/sports.png"/>
            <h2>Sports</h2>
          </div>
        </div><div class="column" >
          <div class="card">
            <img src="assets/images/learning.png"/>
            <h2>Learning</h2>
          </div>
        </div><div class="column" >
          <div class="card">
            <img src="assets/images/fashion.jpg"/>
            <h2>Fashion&Beauty</h2>
          </div>
        </div>
        </div>
        <hr/>

