@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center rounded-right" style="background-color:antiquewhite">
    <h1 class="display-4">Welcome To Cart</h1>
    <div class="jumbotron-fluid">
        <table>
            <tr>
                <td>
                    <div class="card">
                        <img src="~/images/background.jpg"
                             alt="T-shirt"
                             style="width: 100%" />
                        <h1>Coat</h1>
                        <p class="price">$123.00</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="~/images/Coat.jpg"
                             alt="T-shirt"
                             style="width: 100%" />
                        <h1>T-Shirt</h1>
                        <p class="price">$123.00</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="~/images/jeans set.jpg"
                             alt="T-shirt"
                             style="width: 100%" />
                        <h1>T-Shirt</h1>
                        <p class="price">$123.00</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="~/images/Full heels.jpg"
                             alt="T-shirt"
                             style="width: 100%" />
                        <h1>T-Shirt</h1>
                        <p class="price">$123.00</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="card">
                        <img src="~/images/specs.jpg"
                             alt="T-shirt"
                             style="width: 100%" />
                        <h1>T-Shirt</h1>
                        <p class="price">$123.00</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="~/images/Full heels.jpg"
                             alt="T-shirt"
                             style="width: 100%" />
                        <h1>T-Shirt</h1>
                        <p class="price">$123.00</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="~/images/main.jpg"
                             alt="T-shirt"
                             style="width: 100%" />
                        <h1>T-Shirt</h1>
                        <p class="price">$123.00</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="~/images/background.jpg"
                             alt="T-shirt"
                             style="width: 100%" />
                        <h1>T-Shirt</h1>
                        <p class="price">$123.00</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
