@{
    ViewData["Title"] = "Filters";
}

<div class="text-center rounded-right" style="background-color:antiquewhite">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="card text-center rounded-right" style="background-color:antiquewhite">
        <b>Size</b>
        <hr />
        <ul class="text-md-left" style="list-style:none">
            <li>0-2 years</li>
            <li>3 years</li>
            <li>1.5 meters</li>
            <li>1.75 meters</li>
            <li>10-16 years</li>
        </ul>
    </div>
    <div class="card text-center rounded-right" style="background-color:antiquewhite">
        <b>Color</b>
        <hr />
        <ul class="text-md-left" style="list-style:none">
            <li>Beige</li>
            <li>Black</li>
            <li>Pink</li>
            <li>Grey</li>
            <li>Maroon</li>
        </ul>
    </div>
    <div class="card text-center rounded-right" style="background-color:antiquewhite">
        <b>Gender</b>
        <hr />
        <ul class="text-md-left" style="list-style:none">
            <li>Boys</li>
            <li>Girls</li>
            <li>Men</li>
            <li>Women</li>
        </ul>
    </div>
    <div class="card text-center rounded-right" style="background-color:antiquewhite">

        <b>Fabric</b>
        <ul class="text-md-left" style="list-style:none">
            <li>Art silk</li>
            <li>Georgete</li>
            <li>Satin</li>
            <li>Net</li>
            <li>Taffeta silk</li>
        </ul>
    </div>
    <div class="card text-center rounded-right" style="background-color:antiquewhite">
        <b>Discount</b>
        <hr />
        <ul class="text-md-left" style="list-style:none">
            <li>10% and above</li>
            <li>20% above</li>
            <li>30% above</li>
            <li>50% above</li>
            <li>All discounted</li>
        </ul>
    </div>
</div>
