<div class="container">
    <div class="card">
        <div class="card-header">
            Click on below buttons to propagate Test pages
        </div>
        <div class="card-body">
            <div style="text-align: center;" class="card-body">
                <button type="button" class="btn btn-primary" [routerLink]="['/TestA']">TestA</button> &nbsp;
                <button type="button" class="btn btn-primary" [routerLink]="['/TestB']">TestB</button>
            </div>
        </div>
    </div>
</div>