@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron carousel" style=" position: relative; background-color: antiquewhite; text-align: center; color: black;">

        <img src="~/images/main.jpg" id="carousel" style="width:600px;height:350px" />
        <div class="centered" style=" position: absolute; top: 100%; left: 50%; transform: translate(-50%, -50%);">
            <b>
                <marquee>
                    A typical online store enables the customer to browse the firm's range of products
                    and services,view photos or images of the products, along with information about the
                    product specifications, features and prices.
                </marquee>
            </b>
        </div>

    </div>

