<div class="row">
    
<div class="column">
    <div class="card">
      <img src="assets/images/nature.png" alt="Profile picture" />
      <p>a creative and controlling force in the universe,</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/images/bp.jpg" alt="Profile picture" />
      <p>Korean Pop is the internationally popular, aesthetic-driven</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="assets/images/kpop.jpg" alt="Profile picture" />
      <p>Korean Pop is the internationally popular, aesthetic-driven</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="assets/images/cp.jpg" alt="Profile picture" />
      <p>Korean Pop is the internationally popular, aesthetic-driven</p>
    </div>
  </div>
  <div class="column">
      <div class="card">
        <img src="assets/images/music.jpg" alt="Profile picture" />
        <p>an art of sound in time that expresses ideas</p>
      </div>
    </div> 
     <div class="column">
      <div class="card">
        <img src="assets/images/bp.jpg" alt="Profile picture" />
        <p>Korean Pop is the internationally popular, aesthetic-driven</p>
      </div>
    </div>
</div>
<hr/>
